.video
	button.menu-home.menu-button.fixed.z(ui-sref="root.home") MENU
	button.menu-home.menu-button.back-button.fixed.z(ng-click="goToVideos()") BACK
	button.menu-home.menu-button.mute-button.fixed.z.audio-button#mute(ng-click="toggleAudio()")
		img.svg-audio(ng-src="{{icon}}")
	video.video-background.fixed#video(ng-src="{{vid}}", width="1920px", height="1080px", autoplay, loop, mute)