.videos
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.button-row.fixed
		button.video-button(ng-click="goToVideo('one')")
			img.video-thumb(src="assets/videos/buttons/gifs/JoeFresh_TopsDressesPolos.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.behind SPRING COLLECTION
		button.video-button(ng-click="goToVideo('two')")
			img.video-thumb(src="assets/videos/buttons/gifs/JoeFresh_FamilyKids.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.kids  KIDS
		button.video-button(ng-click="goToVideo('three')")
			img.video-thumb(src="assets/videos/buttons/gifs/JoeFresh_BTS_TransitShelter.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.behind 
				| BEHIND 
				p.scenes THE SCENES