.videos
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.button-row.fixed
		button.home-button-row(ng-click="goToVideo()")
			.button-text.bold-left ADULTS
		button.home-button-row(ng-click="goToVideo()")
			.button-text.bold-left KIDS
		button.home-button-row.right(ng-click="goToVideo()")
			.button-text.bold-left BEHIND THE SCENES