.videos
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.button-row.fixed
		button.home-button-row(ng-click="goToVideo('one'); submissionAction('click', 'action', 'video-select_spring-collection'); $event.stopPropagation();")
			img.video-thumb.video-size(src="assets/videos/buttons/gifs/JoeFresh_TopsDressesPolos.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.behind.video-text SPRING COLLECTION
		button.home-button-row(ng-click="goToVideo('two'); submissionAction('click', 'action', 'video-select_kids'); $event.stopPropagation();")
			img.video-thumb.video-size.video-middle(src="assets/videos/buttons/gifs/JoeFresh_FamilyKids.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.kids.video-text  KIDS
		button.home-button-row(ng-click="goToVideo('three'); submissionAction('click', 'action', 'video-select_behind-the-scenes'); $event.stopPropagation();")
			img.video-thumb.video-size(src="assets/videos/buttons/gifs/JoeFresh_BTS_TransitShelter.gif", autoplay, loop, muted)
			.button-text.bold-left.cover-text.behind.video-text 
				| BEHIND 
				p.scenes THE SCENES