$width: 1730 !important;

.fader.ng-hide {
  opacity: 0;
}

.fader.ng-hide-remove,
.fader.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fader.ng-hide-add {
  transition: all linear 500ms;
}

.fadeIn
{
	-webkit-animation: fade 0.6s linear;
	animation: fade 0.6s linear;
}

.fadeOutFast
{
	opacity: 0;
	transition-duration:0.3s;
}

.fadeInSlow
{
	// transition-duration:1s!important;
	opacity:1;
}

@keyframes fade {
  0% { opacity: 0 }
  75% {opacity: 0 }
  100% { opacity: 1 }
}

.collection
{
	// background-image: url("/assets/images/collection/collection.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.content
{
	width:$width;
	// opacity: 1;
}

.slider-container
{
	width:1720px;
}

.slick-slider
{
	width:1720px !important;
}

// .draggable
// {

// }

.slide
{
	margin:0px -59px;
	height:750px;
	width:589px !important;
}

.slide > img
{
	position:relative;
	z-index:0;
	opacity:0.4;
	margin-top:80px;
	// height:920px;
	// width:720px !important;
	// margin-top:100px;
}

.slick-track
{
	// margin-left:200px;
}

.slick-center > img
{
	z-index: 1;
	opacity:1;
	// height:400% !important;

	height:920px;
	width:720px !important;
	margin-left:-70px;
	margin-top:0px !important;
}

.slick-center
{
	// margin: 0 40px;
}

.slick-slide
{
	// width:600px !important;
	// margin:0 -72px !important;
}

.slick-center
{
	// width:700px !important;
	// margin-left:1px !important;
	// margin-right:1px !important;
}

.slick-list
{
	padding:0px 0px !important;
	width:1720px;
	overflow-y: visible !important;
	height:920px;
	// margin:0 40px !important;
}

.draggable
{
	margin-left:0px !important;
	margin-right:0px;
}

.outline
{
    // border-style:solid;
    width:1920px;
    height:1080px;
    overflow:hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.experience
{
	padding-top:0px !important;
	margin-top:-110px;
	opacity: 0;

}

.opaque
{
	transition-duration: 1s;
	opacity: 1;
}

.arrow
{
	margin-top:230px;
}

.left
{
	margin-left:-60px;
}

.right
{
	// margin-left:-50px;
	right:-120px !important;
}

.white-cover
{
	position:fixed;
	left:100px;
	top:0px;
	height:800px;
	width:50px;
	background-color:white;
	z-index:9999999 !important;
	opacity:1;
}

.collection-button-row
{
	text-align:center;
}

.collection-type
{
 margin: 0 10px;
 color: #62666A;
 background-color:transparent;
}

.active
{
	color: #FD4600 !important;
	font-family:'JFCalibreBold'
}

.watch
{
	margin-top:150px !important;
}

.gif
{
	z-index:-10;
	left:900px;
	top:400px;
}

.gifFade
{
	transition-duration:0.6s;
	-webkit-transition-durtaion:0.6s;
	opacity: 0;
}

.invisible
{
	transition-duration:0.5s;
	opacity:0;

}

// GIF animation
$green: #FE4600;
$blue: #FE4600;
$red: #FE4600;
$yellow: #FE4600;
$white: #FFFFFF;

// scaling... any units
$width: 100px;

body {
  background-color: $white;
}

.loader {
  z-index:-10;
  position: fixed;
  left:905px;
  top:385px;
  margin: 0px auto;
  width: $width;
  &:before {
    content:'';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35px;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124px;
 }
}

@keyframes color{
  100%, 0%{
    stroke: $red;
  }
  40%{
    stroke: $blue;
  }
  66%{
    stroke: $green;
  }
  80%, 90%{
    stroke: $yellow;
  }
}