$width: 1730 !important;

.fader.ng-hide {
  opacity: 0;
}

.fader.ng-hide-remove,
.fader.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 1000ms;
}

.fader.ng-hide-add {
  transition: all linear 500ms;
}

.fadeIn
{
	animation: fade 0.6s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  75% {opacity: 0 }
  100% { opacity: 1 }
}

.content
{
	opacity: 1;
	
}

.collection
{
	// background-image: url("/assets/images/collection/collection.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.content
{
	width:$width;
}

.slider-container
{
	width:1720px;
}

.slick-slider
{
	width:1720px !important;
}

.draggable
{

}

.slide
{
	margin:0px -59px;
	height:750px;
	width:589px !important;
}

.slide > img
{
	position:relative;
	z-index:0;
	opacity:0.4;
	margin-top:80px;
	// height:920px;
	// width:720px !important;
	// margin-top:100px;
}

.slick-track
{
	// margin-left:200px;
}

.slick-center > img
{
	z-index: 1;
	opacity:1;
	// height:400% !important;

	height:920px;
	width:720px !important;
	margin-left:-70px;
	margin-top:0px !important;
}

.slick-center
{
	// margin: 0 40px;
}

.slick-slide
{
	// width:600px !important;
	// margin:0 -72px !important;
}

.slick-center
{
	// width:700px !important;
	// margin-left:1px !important;
	// margin-right:1px !important;
}

.slick-list
{
	padding:0px 0px !important;
	width:1720px;
	overflow-y: visible !important;
	height:920px;
	// margin:0 40px !important;
}

.draggable
{
	margin-left:0px;
	margin-right:0px;
}

.outline
{
    border-style:solid;
    width:1920px;
    height:1080px;
}

.experience
{
	padding-top:0px !important;
	margin-top:-110px;
}

.arrow
{
	margin-top:230px;
}

.left
{
	margin-left:-60px;
}

.right
{
	// margin-left:-50px;
	right:-120px !important;
}

.white-cover
{
	position:fixed;
	left:100px;
	top:0px;
	height:800px;
	width:50px;
	background-color:white;
	z-index:9999999 !important;
	opacity:1;
}

.collection-button-row
{
	text-align:center;
}

.collection-type
{

}

.watch
{
	margin-top:150px !important;
}