$width: 1730 !important;

.collection
{
	// background-image: url("/assets/images/collection/collection.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.content
{
	width:$width;
}

.slider-container
{
	width:1720px;
}

.slick-slider
{
	width:1720px !important;
}

.draggable
{

}

.slick-slider
{
	overflow:hidden
}

.slide > img
{
	position:relative;
	z-index:0;
	opacity:0.5;
}

.slick-center > img
{
	z-index: 1;
	opacity:1;
}

.slide
{
	// margin-left:-59px !important;
	// margin-right:-59px !important;
}

.slick-slide
{
	// width:600px !important;
	margin:0 -40px !important;
}

.slick-center
{
	// width:700px !important;
	// margin-left:1px !important;
	// margin-right:1px !important;
}

.slick-list
{
	padding:0px 0px !important;
	width:1720px;
	// margin:0 40px !important;
}

.draggable
{
	margin-left:0px;
	margin-right:0px;
}

.outline
{
    border-style:solid;
    width:1920px;
    height:1080px;
}

.experience
{
	padding-top:0px !important;
	margin-top:-75px;
}

.arrow
{
	margin-top:140px;
}

.left
{
	margin-left:-60px;
}

.right
{
	// margin-left:-50px;
	right:-120px !important;
}

.white-cover
{
	position:fixed;
	left:100px;
	top:0px;
	height:800px;
	width:50px;
	background-color:white;
	z-index:9999999 !important;
	opacity:1;
}

.collection-button-row
{
	text-align:center;
}

.collection-type
{

}