$email-title-color:#75797D;
$input-prompt-color:#BEC0C0;
$send-inactive-color:#FFA388;
$send-hover-color:#FE4600;


.email
{
    background-image: url("/assets/images/backgrounds/JF_Spring-2016_Background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.input-prompt-color
{
	color:$input-prompt-color;
}

.center
{
	height:100%;
	margin-left:520px;
	margin-right:520px;
	padding-top:172px;
	background-color:white;
}

.padding
{
	padding-left:100px;
	padding-right:100px;
}

.email-center
{
	margin-left:450px !important;
	margin-right:450px !important;
}

.heading-text
{
	font-size:87px;
	line-height:76px;
	font-family: 'JFCalibreBold';
	letter-spacing:0.035em;
	color:$email-title-color;
}

.subheader-text
{
	margin-top:-8px;
	font-size:36px;
	margin-left:4px;
	letter-spacing:-0px;
	color:$email-title-color;
	font-family: 'JFCalibreRegular'
}

.input-prompt
{
	font-size:32px;
	margin-top:32px;
	letter-spacing:0.55px;
	color:$input-prompt-color;
}

.dropdown-container
{
	margin-top:5px;
	border-color:$input-prompt-color;
	border-style:solid;
	height:92px;
	width:100%;
}

.select-prompt
{
	font-size:32px;
	padding-top:22px;
	letter-spacing:0.04em;
	padding-left: 10px;
}

.wide
{
	width:100%;
}

.dropdown-icon
{
	font-size:90px;
	font-weight:300;
	margin-top:-20px;
	height:20px !important;
	margin-right:15px;
}

.inner-dropdown
{
	height:86px;
}

.email-input
{
	margin-top:40px;
}

.email-text-input
{
	width:100%;
	height:94px;
	border-style:solid;
	border-width:3px;
	padding-left:20px;
	font-size:32px;
	padding-top:10px;
	color:$input-prompt-color;

}

.checkbox-container
{
	margin-left:10px;
	margin-top:44px;
	margin-left:12px;
	background-color:white;
}

.checkbox
{
	transform: scale(2.6);
	/* Webkit browsers*/
	-webkit-transform: scale(2.6);


	border-style:solid;
	border-size:1px;
	background-color:white;
	border-radius:0px;
}

.checkbox-text
{
	float:right;
	align:right;
	width:590px;
	margin-right:40px;
	margin-top:-20px;
	font-size:28px;
	letter-spacing:-1.9px;
	color:$email-title-color;
}

.link
{
	text-decoration:underline;
	width:220px;
	display:inline-block;
}

.link:hover
{
	cursor:pointer !important;
}

.privacy
{
	margin-left:10px;
}

.send
{
	margin-top:60px;

}

.send-button
{
	height:96px;
	width:221px;
	background-color:$send-inactive-color;
	font-size: 55px;
	padding-top:24px;
	padding-left:2px;
	letter-spacing:0.009em;
	color:white;
}

.send-button:hover
{
	background-color: $send-hover-color;
}

