/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Nov-2015, 7:33:55 PM
    Author     : davidhernon
*/

$orange-text: #FF5E00;
$orange-background: #FE4600;

button {
    border-style:none;
    font-family:JFCalibreRegular;
    font-size:40px;
}

.top
{
    z-index:9999999 !important;
}

.fixed
{
    position:fixed;
}

.sub
{
    display:inline-block;
}

.home
{
    background-image: url("/assets/images/backgrounds/JF_Spring-2016_Background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.menu-home
{
    height:74px;
    width:158px;
    top:60px;
    left:60px;
    
    background-color:$orange-background;
    color:white;
}

.menu-button
{
    padding-top:15px;
}

.button-row
{
    width:100%;
    height:258px;
    // background-color:white;
    top:412px;
    padding-left:176px;
    padding-right:186px;
}

.home-button-row
{
    width:503px;
    height:257px;
    margin-right:10.5px;
    margin-left:10px;
    background-color:$orange-background;
    color:white

}

.bold-left
{
    font-family: 'JFCalibreBold';
    font-weight:1200;
    padding-top:0px;
    letter-spacing:0.05em
}

.button-text
{
    font-size:60px;
    height:60px;
    letter-spacing:0.05em
}