$orange-text: #FF5E00;
$orange-background: #FD4600;

.call-to-action
{
	width:1920px;
	height:1080px;
	background-color:$orange-background;
	color:white;

	padding-top:100px;
	font-size:280px;
	line-height:0px;
	font-family: 'JFCalibreBold';
	letter-spacing:-0.1px;
	text-align:center;
}

.hover
{
	cursor:pointer;
}