$orange-text: #FF5E00;

.call-to-action
{
	width:834px;
	height:196px;
	background-color:transparent;
	top:581px;
	left:546px;
	color:white;

	font-size:96px;
	line-height:76px;
	font-family: 'JFCalibreBold';
	letter-spacing:-0.1px;

	padding-left:69px;
	padding-top:73px;
}

.hover
{
	cursor:pointer;
}