.terms
{
	background-color:white;
	color:$email-title-color;
	overflow:scroll;
	overflow-x: hidden;
	padding:0px 10px;
}

.back-button
{
	left:250px !important;
}

.box-shadow
{
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

.terms-header-text
{
	// margin:0px;
	margin-top:120px;
	line-height:100px;
}