$menu-button-color:#63666A;
$thanks-header-text-color: #FF5E00;

.thanks
{
    background-image: url("/assets/images/backgrounds/JF_Spring-2016_Background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.thanks-header-text
{
	margin-top:188px;
	margin-left:8px;
	font-size:120px;
	font-family: 'JFCalibreBold';
	letter-spacing:0.035em;
	color:$thanks-header-text-color;

}

.other-header-text
{
		margin-top:188px;
	margin-left:8px;
	font-size:120px;
	font-family: 'JFCalibreBold';
	letter-spacing:0.035em;
}

.thanks-subheader
{
	text-align:center;
	font-size:50px;
	margin-top:-22px;
	margin-left:70px;
	margin-right:70px;
	letter-spacing:-0.45px;
	line-height:56px;
}

.back-to-menu
{
	font-size:58px !important;
	letter-spacing: -0.5px;
	color:white;
	background-color: $menu-button-color;
	text-align:center;
	padding-top:26px;
	padding-left:4px;
	width:467px;
	margin-left:106px;
	margin-top:38px;
	height:131px;
}