.videos
{
    background-image: url("/assets/images/backgrounds/JF_Spring-2016_Background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.video
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:1920px;
    height:1080px;
}

.mute-button
{
    left:1704px !important;
}

.video-background
{
    z-index: -999;
}

.muted
{
    // background-color:#E6E6E6 !important;
}

.video-thumb
{
    position:relative;
}
.vid
{
    background-color:transparent;
}

.cover-text
{
    position:absolute;
    top:40%;
    width:500px;
}

.behind
{
    top:40%;
    line-height:50px;
}

.video-button
{
    background-color:transparent;
    border-style:none;
    color:white;

}

.video-size
{
    position:fixed;
    width:503px;
    height:257px;
    margin-left:-252px;
    margin-top:-128px;
}

.video-middle
{
    margin-left:-251px;
}

.video-text
{
    margin-top:-10px;
}

.kids
{
    top:45%;
}

.scenes
{
    margin:0;
}

.svg-audio
{
    height:90%;
    width:100%;
    margin-top:-    8px;
}

.audio-button
{
    width:95px !important;
}