.thanks
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.center.email-center.padding
		.thanks-subheader.thanks-header-text THANK YOU
		button.back-to-menu(ui-sref="root.home") BACK TO MENU