.thanks
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.center
		.thanks-header-text THANK YOU
		.thanks-subheader Lorem ipsum si meliora dies ut vina poemata redict
		button.back-to-menu(ui-sref="root.home") BACK TO MENU