.thanks
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home", ng-click="submissionAction('click', 'action', 'thanks_corner-button'); $event.stopPropagation();") MENU
	.center.email-center
		.thanks-header-text THANK YOU
		button.back-to-menu(ui-sref="root.home", ng-click="submissionAction('click', 'action', 'thanks_center-button'); $event.stopPropagation();") BACK TO MENU