<div class="pure-g slider-wrapper convenience-more notifications">
    <div class="pure-u-1">
        <div class="title">{{experienceTitle}}</div>
        <div class="title description sub" ng-if="experienceDescription" ng-bind-html="experienceDescription | nl2br"></div>
        <div class="pure-g">
            <div class="arrow pure-u-2-24"><img class="left" ng-src="/assets/0-UI/icon_arrow_slider_left.svg" ng-click="prevSlide();
                $event.stopPropagation();" /></div>
            <div class="content pure-u-20-24">
                <div class="slider-container" app-content-carousel>
                    <div class="slide">
                        <div class="experience">
                            <div class="drag-container">
                                <div class="drag">
                                    <div ng-show="experience.step == 2"><ng-include src="data.config.rotatingBezelLeft" /></div>
                                    <div ng-show="experience.step == 4"><ng-include src="data.config.tapScreen" /></div>
                                    <div ng-show="experience.step == 6"><ng-include src="data.config.rotatingBezelRight" /></div>
                                    <div class="bg ng-hide" ng-show="experience.step == null || experience.step == 1 || experience.step == 2">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_01-check_screen-01.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 4}" ng-show="experience.step == 3 || experience.step == 4">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_01-check_screen-03.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 5 || experience.step == 6">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_01-check_screen-05.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 7">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_01-check_screen-07.png" />
                                    </div>
                                </div>
                                <div class="hint" ng-show="experience.tab == 1 && experience.step == 2">Turn the bezel to check notifications</div>
                                <div class="hint" ng-show="experience.tab == 1 && experience.step == 4">Tap on the screen to read full message</div>
                                <div class="hint" ng-show="experience.tab == 1 && experience.step == 6">Turn the bezel to the right</div>
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="experience">
                            <div class="drag-container">
                                <div class="drag">
                                    <div ng-show="experience.step == 8 || experience.step == 16 || experience.step == 26"><ng-include src="data.config.rotatingBezelLeft" /></div>
                                    <div ng-show="experience.step == 4 || experience.step == 21"><ng-include src="data.config.rotatingBezelRight" /></div>
                                    <div ng-show="experience.step == 2 || experience.step == 11 || experience.step == 19
                                                    || experience.step == 29 || experience.step == 31 || experience.step == 33
                                                    || experience.step == 35 || experience.step == 37 || experience.step == 39
                                                    || experience.step == 41"><ng-include src="data.config.tapScreen" /></div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 2}" ng-show="experience.step == null || experience.step == 1 || experience.step == 2">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-1-send_screen-01.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 3 || experience.step == 4 || experience.step == 5
                                                    || experience.step == 7 || experience.step == 8 || experience.step == 9 || experience.step == 15
                                                    || experience.step == 16 || experience.step == 17 || experience.step == 25 || experience.step == 26 || experience.step == 27">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-2-presets_screen-01.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 6">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-2-presets_screen-02.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 11 || experience.step == 19
                                                || experience.step == 26 || experience.step == 29}" ng-show="experience.step == 10 || experience.step == 11
                                                                || experience.step == 18 || experience.step == 19 || experience.step == 28 || experience.step == 29">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-3-voice_screen-02.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 12">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-3-voice_screen-04.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 13">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-3-voice_screen-05.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 14">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-3-voice_screen-06.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 20 || experience.step == 21 || experience.step == 22">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-4-emo_screen-04.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 23">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-4-emo_screen-05.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 24">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-4-emo_screen-06.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 31}" ng-show="experience.step == 30 || experience.step == 31">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-04.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 33}" ng-show="experience.step == 32 || experience.step == 33">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-06.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 35}" ng-show="experience.step == 34 || experience.step == 35">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-08.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 37}" ng-show="experience.step == 36 || experience.step == 37">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-09.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 39}" ng-show="experience.step == 38 || experience.step == 39">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-10.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-class="{darker: experience.step == 41}" ng-show="experience.step == 40 || experience.step == 41">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-12.png" />
                                    </div>
                                    <div class="bg ng-hide" ng-show="experience.step == 42">
                                        <img ng-src="../assets/4-convenience-more/cm_01-notif_02-5-keypad_screen-14.png" />
                                    </div>
                                </div>
                                <div class="hint" ng-show="experience.tab == 2 && (experience.step == 8 || experience.step == 16 || experience.step == 26)">Turn the bezel to the left</div>
                                <div class="hint" ng-show="experience.tab == 2 && (experience.step == 4 || experience.step == 21)">Turn the bezel to the right</div>
                                <div class="hint" ng-show="experience.tab == 2 && (experience.step == 2 || experience.step == 11 || experience.step == 19
                                                || experience.step == 29 || experience.step == 31 || experience.step == 33
                                                || experience.step == 35 || experience.step == 37 || experience.step == 39
                                                || experience.step == 41)">Tap on the screen</div>
                                <div class="hint" ng-show="experience.tab == 2 && (experience.step == 13)">" Okay "</div>
                            </div>
                            <div class="feature-nav">
                                <div class="nav-container pure-g">
                                    <div class="item pure-u-1-5">
                                        <div class="circle outer" ng-class="{active: experience.step < 3}">
                                            <div class="start circle inner" ng-click="changeFeature(1)"></div>
                                        </div>
                                    </div>
                                    <div class="item pure-u-1-5">
                                        <div class="circle outer" ng-class="{active: experience.step >= 3 && experience.step < 7}">
                                            <div class="feature1 circle inner" ng-click="changeFeature(3)"></div>
                                        </div>
                                    </div>
                                    <div class="item pure-u-1-5">
                                        <div class="circle outer" ng-class="{active: experience.step >= 7 && experience.step < 15}">
                                            <div class="feature2 circle inner" ng-click="changeFeature(7)"></div>
                                        </div>
                                    </div>
                                    <div class="item pure-u-1-5">
                                        <div class="circle outer" ng-class="{active: experience.step >= 15 && experience.step < 25}">
                                            <div class="feature3 circle inner" ng-click="changeFeature(15)"></div>
                                        </div>
                                    </div>
                                    <div class="item pure-u-1-5">
                                        <div class="circle outer" ng-class="{active: experience.step >= 25}">
                                            <div class="feature4 circle inner" ng-click="changeFeature(25)"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow pure-u-2-24"><img class="right" ng-src="/assets/0-UI/icon_arrow_slider_right.svg" ng-click="nextSlide();
                $event.stopPropagation();" /></div>
        </div>
    </div>
</div>