.home
	button.menu-home.menu-button.fixed.box-shadow() MENU
	.button-row.fixed
		button.home-button-row(ui-sref="root.customize-your-gear") 
			.button-text.bold-left EXPLORE
			.button-text THE SPRING
			.button-text COLLECTION
		button.home-button-row(ui-sref="root.videos") 
			.button-text THE SPRING
			.button-text COLLECTION
			.button-text.bold-left IN MOTION
		button.home-button-row(ui-sref="root.email") 
			.button-text EMAIL SIGN UP
			.button-text.bold-left FOR MORE 
			.button-text.bold-left + OFFER