<div class="pure-g island">
    <div ng-repeat="section in data.content.sections" class="pure-u-1 pure-u-lg-1-4 island">
        <div class="text-center">
            <a href="#" ng-click="selectSection($index)">
                <img alt="logo" class="pure-img" src="assets/images/angular-logo.png">
                <div>{{ section.title}}</div>
            </a>
        </div>
        <div ng-show="$index == activeSection" class="animate-show ng-hide">
            <ul>
                <li ng-repeat="section in section.sections"><a ui-sref="{{section.route}}">{{section.title}}</a></li>
            </ul>
        </div>
    </div>
</div>
