.pure-g.slider-wrapper.customize-your-gear.outline
	button.menu-home.menu-button.fixed.box-shadow.top(ui-sref="root.home") MENU
	.pure-u-1.pure-u-1-1
		.customize
			.experience
				//- .title Flip Through To See Our Latest Collection
				//- .title.sub.model {{modelTitle}}
				.watch
					.watch-container.pure-g
						.arrow.pure-u-2-24.left
							img.left(ng-show='experience.currentSlide > 1', ng-src='assets/0-UI/icon_arrow_slider_left.svg', ng-click="prevSlide(); submissionAction('click', 'action', 'view-collection_prev-slide-button'); $event.stopPropagation();")
						.content.pure-u-20-24.fadeIn
							#watch.slider-container.ng-hide.fader(ng-show="activeSlider == 'women' || activeSlider == null", app-watch-carousel='', data-slick='{"startSlide": 2, "overlay": "", "swipe": true, "slidesToShow":3, "slidesToScroll":0.5, "centerMode": true, "variableWidth" : true, "adaptiveHeight": true}', ng-click="submissionAction('click', 'action', 'view-collection_touch-slide'); $event.stopPropagation();")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/women/Women_01.jpg', ng-click="goToSlide(0)")
								.slide(data-title='Collection 2')
									img(ng-src='assets/images/collection/women/Women_02.jpg', ng-click="goToSlide(1)")
								.slide(data-title='nice clothes!')
									img(ng-src='assets/images/collection/women/Women_03.jpg', ng-click="goToSlide(2)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/women/Women_04.jpg', ng-click="goToSlide(3)")
								.slide(data-title='Collection 2')
									img(ng-src='assets/images/collection/women/Women_05.jpg', ng-click="goToSlide(4)")
								.slide(data-title='nice clothes!')
									img(ng-src='assets/images/collection/women/Women_06.jpg', ng-click="goToSlide(5)")
							#watchFace.slider-container.ng-hide.fader(ng-show="activeSlider == 'men' || activeSlider == null", app-watch-carousel='', data-slick='{"startSlide": 2, "overlay": "", "swipe": true, "slidesToShow":3, "slidesToScroll":1, "centerMode": true, "variableWidth" : true, "adaptiveHeight": true}', ng-click="submissionAction('click', 'action', 'view-collection_touch-slide'); $event.stopPropagation();")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/men/Men_01.jpg', ng-click="goToSlide(0)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/men/Men_02.jpg', ng-click="goToSlide(1)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/men/Men_03.jpg', ng-click="goToSlide(2)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/men/Men_04.jpg', ng-click="goToSlide(3)")
							#watchFacer.slider-container.ng-hide.fader(ng-show="activeSlider == 'children' || activeSlider == null", app-watch-carousel='', data-slick='{"startSlide": 2, "overlay": "", "swipe": true, "slidesToShow":3, "slidesToScroll":1, "centerMode": true, "variableWidth" : true, "adaptiveHeight": true}', ng-click="submissionAction('click', 'action', 'view-collection_touch-slide'); $event.stopPropagation();")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_01.jpg', ng-click="goToSlide(0)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_02.jpg', ng-click="goToSlide(1)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_03.jpg', ng-click="goToSlide(2)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_04.jpg', ng-click="goToSlide(3)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_05.jpg', ng-click="goToSlide(4)")
								.slide(data-title='Some Dress Name')
									img(ng-src='assets/images/collection/kids/Kids_06.jpg', ng-click="goToSlide(5)")
						.arrow.pure-u-2-24.right
							img.right(ng-show='experience.currentSlide < activeSliderMaxSlides', ng-src='assets/0-UI/icon_arrow_slider_right.svg', ng-click="nextSlide(); submissionAction('click', 'action', 'view-collection_next-slide'); $event.stopPropagation();")
			.collection-button-row
				button.collection-type(ng-class="{active: activeSlider == 'women'}", ng-click="changeSlider('women'); submissionAction('click', 'action', 'view-collection-women'); $event.stopPropagation();") WOMENS
				button.collection-type(ng-class="{active: activeSlider == 'men'}", ng-click="changeSlider('men'); submissionAction('click', 'action', 'view-collection-men'); $event.stopPropagation();")  MENS
				button.collection-type(ng-class="{active: activeSlider == 'children'}", ng-click="changeSlider('children'); submissionAction('click', 'action', 'view-collection-children'); $event.stopPropagation();") CHILDREN
		//- .gif.fixed.gifFade#gif
		//- 	img(ng-src="assets/images/collection/loading_spinner.gif")
		.loader
			svg.circular#gif(viewBox="25 25 50 50")
				circle.path(cx="50", cy="50", r="20", fill="none", stroke-width="2", stroke-miterlimit="10")