<div class="pure-g slider-wrapper customize-your-gear">
    <div class="pure-u-1 pure-u-1-1">
        <div class="customize">
            <div class="experience">
                <div class="title">Select a product and color</div>
                <div class="title sub model">{{modelTitle}}</div>
                <div class="title sub face">{{faceTitle}} Watch Face</div>
                <div class="watch">
                    <div class="watch-container pure-g">
                        <div class="arrow pure-u-2-24"><img class="left" ng-show="experience.currentSlide > 1" ng-src="assets/0-UI/icon_arrow_slider_left.svg" ng-click="prevSlide();
                    $event.stopPropagation();" /></div>
                        <div class="content pure-u-20-24">
                            <div id="watch" class="slider-container ng-hide" ng-show="activeSlider == 'watch' || activeSlider == null" app-watch-carousel data-slick='{"startSlide": 2, "overlay": "", "swipe": true}'>
                                <div class="slide" data-title="Gear 2 / Silver"><img ng-src="assets/5-customize/cg_01-watch_white.png" /></div>
                                <div class="slide" data-title="Gear 2 / Dark Gray"><img ng-src="assets/5-customize/cg_01-watch_black.png" /></div>
                                <div class="slide" data-title="Gear 2 classic / Black"><img ng-src="assets/5-customize/cg_01-watch_classic.png" /></div>
                            </div>
                            <div id="watchFace" class="slider-container ng-hide" ng-show="activeSlider == 'watchFace'" app-watch-carousel data-slick='{"startSlide": 2, "swipe": true}'>
                                <div class="slide" data-title="Classic"><img ng-src="assets/5-customize/cg_02-watchface_01.png" /></div>
                                <div class="slide" data-title="Modern Utility"><img ng-src="assets/5-customize/cg_02-watchface_02.png" /></div>
                                <div class="slide" data-title="Neon"><img ng-src="assets/5-customize/cg_02-watchface_03.png" /></div>
                                <div class="slide" data-title="Basic"><img ng-src="assets/5-customize/cg_02-watchface_04.png" /></div>
                                <div class="slide" data-title="Chronograph"><img ng-src="assets/5-customize/cg_02-watchface_05.png" /></div>
                                <div class="slide" data-title="Wrold Time"><img ng-src="assets/5-customize/cg_02-watchface_06.png" /></div>
                                <div class="slide" data-title="Activity Bubbles"><img ng-src="assets/5-customize/cg_02-watchface_07.png" /></div>
                                <div class="slide" data-title="Heart Wave"><img ng-src="assets/5-customize/cg_02-watchface_08.png" /></div>
                                <div class="slide" data-title="Pixel Heart"><img ng-src="assets/5-customize/cg_02-watchface_09.png" /></div>
                                <div class="slide" data-title="Digital"><img ng-src="assets/5-customize/cg_02-watchface_10.png" /></div>
                                <div class="slide" data-title="Activity Sparkles"><img ng-src="assets/5-customize/cg_02-watchface_11.png" /></div>
                                <div class="slide" data-title="Large"><img ng-src="assets/5-customize/cg_02-watchface_12.png" /></div>
                                <div class="slide" data-title="GIRO / A.Mendini"><img ng-src="assets/5-customize/cg_02-watchface_13.png" /></div>
                                <div class="slide" data-title="FIORE / A.Mendini"><img ng-src="assets/5-customize/cg_02-watchface_14.png" /></div>
                                <div class="slide" data-title="POESIA / a.Mendini"><img ng-src="assets/5-customize/cg_02-watchface_15.png" /></div>
                                <div class="slide" data-title="QUADRO / A.Mendini"><img ng-src="assets/5-customize/cg_02-watchface_16.png" /></div>
                            </div>
                        </div>
                        <div class="arrow pure-u-2-24"><img class="right" ng-show="experience.currentSlide < 2" ng-src="assets/0-UI/icon_arrow_slider_right.svg" ng-click="nextSlide();
                    $event.stopPropagation();" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="nav-container pure-g">
                <div class="pure-u-4-24"></div>
                <div class="pure-u-8-24">
                    <div class="item" ng-class="{active: activeSlider == 'watch'}" ng-click="changeSlider('watch');">Change Product</div>
                </div>
                <div class="pure-u-8-24">
                    <div class="item" ng-class="{active: activeSlider == 'watchFace'}" ng-click="changeSlider('watchFace');">Change Watch Face</div>
                </div>
                <div class="pure-u-4-24"></div>
            </div>
        </div>
    </div>
</div>