<div class="pure-g slider-wrapper healthier-lifestyle health-clock">
    <div class="pure-u-1 pure-u-1-1">
        <div class="faces">
            <div class="experience">
                <div class="title">{{faceTitle}}</div>
                <div class="watch">
                    <div class="watch-container pure-g">
                        <div class="arrow pure-u-2-24"><img class="left" ng-show="experience.currentSlide > 1" ng-src="assets/0-UI/icon_arrow_slider_left.svg" ng-click="prevSlide();
                    $event.stopPropagation();" /></div>
                        <div class="content pure-u-20-24">
                            <div id="watchFace" class="slider-container" app-watch-carousel data-slick='{"startSlide": 2, "swipe": true, "overlay": "<div class=\"slider-overlay\"><img src=\"assets/5-customize/cg_01-watch_black.png\"></div>"}'>
                                <div class="slide" data-title="Activity Bubbles" data-description="As you move more," data-description2="the coloful circle grows bigger"><img ng-src="assets/5-customize/cg_02-watchface_07.png" /></div>
                                <div class="slide" data-title="Activity Sparkles" data-description="More particles appear" data-description2="when you move"><img ng-src="assets/5-customize/cg_02-watchface_11.png" /></div>
                                <div class="slide" data-title="Pixel Heart" data-description="Heart shape changes colour" data-description2="depending on your HR status"><img ng-src="assets/5-customize/cg_02-watchface_09.png" /></div>
                                <div class="slide" data-title="Heart Wave" data-description="Measured heart rate records appears" data-description2="(Average/Minimum/Maximum)"><img ng-src="assets/5-customize/cg_02-watchface_08.png" /></div>
                            </div>
                        </div>
                        <div class="arrow pure-u-2-24"><img class="right" ng-show="experience.currentSlide < 4" ng-src="assets/0-UI/icon_arrow_slider_right.svg" ng-click="nextSlide();
                    $event.stopPropagation();" /></div>
                    </div>
                </div>
                <div class="title sub">{{faceDescription}}</div>
                <div class="title sub">{{faceDescription2}}</div>
            </div>
        </div>
    </div>
</div>