.thanks
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	button.menu-home.menu-button.back-button.fixed.box-shadow(ui-sref="root.email") BACK
	.center.terms
		.other-header-text.terms-header-text TERMS AND CONDITIONS
		.content
			h1 TERMS & CONDITIONS
			br
			h2 WELCOME MESSAGE:
			p
				| Loblaw Companies Limited, together with its subsidiaries and affiliates (hereinafter referred to as “us”, “we” and/or “Loblaw”) is pleased to provide this website for your personal use. By using this website, you are agreeing to be legally bound by these Terms and Conditions (the "Terms”) and to comply with all applicable laws and regulations as they may change from time to time. IF YOU DO NOT ACCEPT AND AGREE TO BE LEGALLY BOUND BY AND COMPLY WITH THESE TERMS, YOU ARE NOT PERMITTED TO ACCESS OR USE THE WEBSITE. We suggest you print a copy of these Terms for your records.
			br
			h2 OUR RIGHT TO CHANGE THESE TERMS:
			p
				| We reserve the right, in our sole discretion, to modify all or a portion of these Terms at any time without further notice and without incurring any liability or obligation. If we do this, we will post the changes to these Terms on the website and will indicate at the top of this page the date these Terms were last revised. Your continued access to and/or use of the website after any such changes constitutes your acceptance of, and agreement to be legally bound by, these Terms as revised. It is your sole responsibility to regularly check the website to determine if there have been any changes to these Terms and to review such changes.
			br
			h2 OUR RIGHT TO DISCONTINUE OR MODIFY THE WEBSITE:
			p
				| You acknowledge and agree that we reserve the right at any time to modify or discontinue the whole, or any part of, the website, including any products offered thereon, without notice, and that we will not be responsible or liable, directly or indirectly, to you or any other person or entity for any loss or damage of any kind incurred as a result of any such modification(s) or discontinuance.
			br
			h2 REGISTRATION:
			p
				| When you make a purchase through this website, you must either register for an account, or check out as a guest. If you choose to make a purchase as a guest, you will not be required to register; however, you will still be required to provide certain personal information to allow us to process your Order (defined below). When you make a purchase with us, you agree to provide accurate and current information about yourself as requested, and if you register an account, to promptly update such information as necessary to ensure that it is kept accurate and complete. You agree to be responsible for: (a) the accuracy of all information that you provide to us, regardless of whether you register or purchase as a guest; (b) should you register, maintaining the confidentiality of any passwords or other account identifiers that you choose or that are otherwise assigned to you as a result of any registration or purchase made through the website; and (c) should you register, all activities that occur under such password(s) or account(s). Further, you agree to notify us of any unauthorized use of your password or account of which you are or become aware. Loblaw shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.
			br
			h2 MAKING PURCHASES THROUGH THE WEBSITE:
			p
				| You may only make purchases through the website if you are over the age of legal majority in the province/territory where you reside. You may only purchase or order items for personal, non-business purposes. Purchases will only be shipped to a valid mailing address within Canada. However, we may not be able to ship to all areas within Canada. In the event we are not able to ship to the shipping address you provide, we will notify you, your order will be cancelled, and you will receive a refund in respect of your purchase (unless you provide an alternate eligible shipping address). We reserve the right not to offer expedited or other forms of shipping. Unless otherwise indicated, all dollar amounts on the website are in Canadian Dollars.
			p
				| By completing a purchase transaction (“Order”) through the website, you are agreeing to pay, in full, the prices and all applicable taxes and specified shipping and handling fees specified in relation to your Order, either by credit card or other permitted payment method. Payments are processed by our trusted third party service provider and Loblaw does not collect your financial information.
			p
				| We reserve the right to change the permitted methods of payment, including without limitation, the credit cards we are able to accept, at any time. If complete payment for your Order is not received and verified by us, your Order will not be processed. If you do not complete or improperly complete your Order it may not be accepted or acknowledged.
			p
				| In order to complete an Order, you may be required to provide certain additional information that is required to process your Order. For example, you will be required to provide valid payment information (e.g. a valid credit card number and expiration date) to facilitate payment.
			p
				| Please note that merchandise is only held for you once you have completed your Order. Adding an item or items to your shopping cart (“Cart”) does not reserve such item(s) for you or guarantee that you will be able to purchase such item(s) at a later date. An item can sell out while it's sitting in your Cart. If an item was removed from your Cart, this may mean that we have sold out prior to you completing your Order. We reserve the right to change the prices offered on the website at anytime, including without limitation, items that have been placed in your Cart.
			p
				| You will be billed for your Order at the time your Order is shipped. You will be responsible for all applicable taxes related to your Order. Applicable taxes will be charged at the time you are billed. Applicable sales tax will also be applied to the shipping and handling, return shipping and gift packaging charges. Taxes may depend on delivery location.
			br
			h2 RETURNS AND REFUNDS:
			p
				| To view our returns and refund policy, please 
				a(href='https://www.joefresh.com/returns') click here
				| .
			br
			h2 DELIVERY:
			p
				| The estimated delivery time will be specified in your Order; however, as we use a third party to deliver Orders, it is possible that your Order will arrive before or after the estimated delivery time. We will use commercially reasonable efforts to deliver your Order as quickly as possible within the time period(s) indicated; however, we will not be responsible for any delays in delivery which are beyond our control. If you do not receive your Order within 
				strong 10 days
				|  of the estimated delivery time, please let us know. Please note that multiple Orders may not always be shipped together. In addition, depending on the size of your Order you may receive several shipments to complete your Order.
			br
			h2 OUR RIGHTS REGARDING ORDERS:
			p
				| Without limiting the generality of these Terms, we reserve the right to limit or refuse any Order you place with us. Further, we reserve the right to verify the validity of all Orders and cancel any Order if we find evidence of fraud, tampering and/or any other violation of these Terms. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per Order. These restrictions may include Orders placed by or under the same account, the same credit card, and/or Orders that use the same billing and/or shipping address. We also reserve the right, in our discretion, not to ship items ordered or purchased through the website to certain addresses. In the event that we are unable to or choose not to ship an item, you will be notified accordingly and the amount for that item charged in relation to your Order will be reduced accordingly.
			p
			h2 LINKING YOUR PC PLUS ACCOUNT
			p
				br
				|   When you link your PC Plus account to your website account, you give Loblaw permission to access all data related to your PC Plus account, including your past purchases and points balance. Be advised that details regarding the purchases or transactions made by you or any additional users using your PC Plus Account may be included on pages displaying order history linked to your PC Plus Account. Further you agree and acknowledge that you are responsible for communicating this to any additional users on your PC Plus Account.
			p
				br
			h2 WEBSITE ERRORS:
			p
				| We take great pride in our website and every effort has been made to help ensure that the information contained on the website is correct. Unfortunately, however, there may sometimes be information on the website that contains typographical errors, inaccuracies, or omissions – including those that may relate to product descriptions, pricing, promotions, offers, and/or availability. We reserve the right to correct any errors, inaccuracies or omissions and to change or update information or modify or cancel Orders if any information on the website is inaccurate at any time without prior notice (including after you have submitted your Order).
			br
			h2  VERIFICATION:
			p
				| All Orders are subject to verification at any time and for any reason. We reserve the right, in our sole discretion, to require proof of identity: (i) for the purposes of verifying the legitimacy of any Order or other information; and/or (ii) for any other reason we deem necessary, in our sole discretion, for the purposes of fulfilling an Order in accordance with these Terms.
			br
			h2 SAFE SHOPPING:
			p
				| Your safe and secure online shopping experience is our top priority. As such, we routinely monitor our website for suspicious activity. However, the transmission of data or information over the internet or other forms of networks may not be secure, and is subject to possible loss, interception or alteration while in transit. We do not assume any liability for any damage you may experience or costs you may incur as a result of any electronic transmissions over the internet or otherwise within the website, such as transmissions involving the exchange of electronic messages of any kind (including those which may contain your personal information). In no event will the information you provide on or through the website be deemed to be confidential, create any fiduciary obligations to you on our part, or result in any liability to you on our part in the event that such information is inadvertently released by us or accessed by third parties without your consent.
			br
			h2 USE OF THE WEBSITE AND WEBSITE MATERIAL:
			p
				| Except as expressly stated therein, this website is provided for your personal non-commercial use and you may not copy material from this website for commercial use. You may copy material in limited quantities from this website for your personal non-commercial use provided that our copyright and/or trade-mark notice(s) remain affixed to the copied material. Loblaw reserves the right to restrict your use of this website at any time, which may include terminating your permission to make personal copies of material from this site.
			p
				| You are prohibited from using this website to post or transmit any unlawful, threatening, libelous, defamatory, obscene, scandalous, inflammatory, pornographic, infringing, or profane material or any material that could constitute or encourage unlawful conduct. Loblaw may from time to time monitor or review material transmitted or posted using this website and reserves the right to delete any material we deem inappropriate. However, we are under no obligation to do so and assume no responsibility or liability arising from any material transmitted or posted using this website.
			br
			h2 OWNERSHIP OF INTELLECTUAL PROPERTY:
			p
				| Loblaw or our third party licensors own the copyright to all material on and from this website. Notwithstanding any other term or condition in these Terms, Loblaw, or the applicable third party licensor, retains ownership to the copyright in this website and all material on and from this website.
			p
				| This website contains many of the valuable trade-marks, names, package designs, copyrights and other proprietary material owned and used by Loblaws Inc., its affiliated companies and/or third party licensors – including, but not limited to, Joe Fresh® (the "Trademarks").
			p
				| The Trademarks on this website are protected from copying or reproduction under national and international trademark and copyright laws and nothing contained herein shall be construed as conferring by implication or otherwise any license or right under any patent, trademark, copyright or other proprietary right. Therefore the use of the Trademarks is strictly prohibited. All rights reserved.
			br
			h2 DISCLAIMER:
			p Your use of this website and material from this website is at your own risk.
			p
				| Neither Loblaw, any of its agents, nor any other party involved in creating, producing, or delivering this website is liable for any damages whatsoever arising out of your access to, or use of, this website, any material from this website, or any products offered on this website. Without limiting the foregoing, this website, the material provided on this website, and the products offered on this website, are provided "AS IS" WITHOUT WARRANTY OF ANY KIND EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NONINFRINGEMENT.
			p
				| ANY PRODUCTS AND/OR SERVICES DESCRIBED ON THE WEBSITE ARE OFFERED IN JURISDICTIONS WHERE THEY MAY BE LEGALLY OFFERED FOR SALE. THE INFORMATION ON THE WEBSITE IS NOT AN OFFER OR SOLICITATION BY ANYONE IN ANYONE IN ANY JURISDICTION IN WHICH AN OFFER OR SOLICITATION CANNOT LEGALLY BE MADE, OR TO ANY PERSON TO WHOM IT IS UNLAWFUL TO MAKE A SOLICITATION.
			p
				| LOBLAW MAKES NO REPRESENTATION OR WARRANTY THAT: (I) THE WEBSITE WILL BE COMPATIBLE WITH YOUR COMPUTER AND SOFTWARE; (II) THE WEBSITE WILL BE AVAILABLE OR WILL FUNCTION WITHOUT INTERRUPTION OR ERROR; (III) THE USE OF THE WEBSITE, INCLUDING, WITHOUT LIMITATION, THE BROWSING AND DOWNLOADING OF ANY INFORMATION, WILL BE FREE OF ANY VIRUSES, TROJAN HORSES, WORMS OR OTHER DESTRUCTIVE, INTRUSIVE OR DISRUPTIVE COMPONENTS; (IV) THE TRANSMISSION OF INFORMATION TO AND FROM THE WEBSITE WILL BE SECURE; (V) THE USE OF THE WEBSITE WILL NOT INFRINGE THE RIGHTS (INCLUDING, WITHOUT LIMITATION, INTELLECTUAL PROPERTY RIGHTS) OF ANY PERSON; OR (VI) THE USE OF THE WEBSITE WILL NOT CAUSE ANY DAMAGE TO YOUR COMPUTER SYSTEMS, SOFTWARE OR ELECTRONIC FILES.
			p
				| LOBLAW WILL NOT UNDER ANY CIRCUMSTANCES BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY DAMAGES WHATSOEVER ARISING FROM, CONNECTED WITH, OR RELATING TO THE WEBSITE. YOU EXPRESSLY ACKNOWLEDGE THAT LOBLAW HAS ENTERED INTO THIS AGREEMENT WITH YOU AND MAKES THE WEBSITE AVAILABLE TO YOU, IN RELIANCE UPON THE LIMITATIONS AND EXCLUSIONS OF LIABILITY AND THE DISCLAIMERS SET FORTH HEREIN, AND THAT THE SAME FORM AN ESSENTIAL BASIS OF THE BARGAIN BETWEEN YOU AND LOBLAW. YOU EXPRESSLY AGREE THAT THE LIMITATIONS AND EXCLUSIONS OF LIABILITY AND THE DISCLAIMERS SET FORTH HEREIN WILL SURVIVE, AND CONTINUE TO APPLY IN THE CASE OF A FUNDAMENTAL BREACH OR BREACHES, THE FAILURE OF ESSENTIAL PURPOSE OF CONTRACT, THE FAILURE OF ANY EXCLUSIVE REMEDY, OR TERMINATION OF THIS AGREEMENT.
			br
			h2 TERMINATION:
			p
				| If you breach any provision of these Terms you may no longer use the website. We may, in our sole discretion, change, suspend or terminate, temporarily or permanently, the website or any part thereof, any of its features, or any products offered on the website, at any time, for any reason, without any notice or liability to you or any other entity. If these Terms or your permission to use the website is terminated by us for any reason, the agreement formed by your acceptance of these Terms will nevertheless continue to apply and be binding upon you in respect of your prior use of the website and anything relating to or arising from such use. If you are dissatisfied with the website or with these Terms, then your sole and exclusive remedy is to discontinue using the website.
			br
			h2 LINKS:
			p
				| Loblaw has not reviewed any or all of the sites that may be linked to this website and is not responsible for any sites linked to this website. Your linking to any sites from this website is at your own risk. By linking to a site or permitting a link to this website, Loblaw does not endorse the site operator or the content of the linked site.
			br
			h2 IDEA SUBMISSION/USE OF INFORMATION:
			p
				| Loblaw does not accept unsolicited ideas for new products, packaging, marketing, advertising, research, business operations and the like. Should you ignore this policy and submit an idea to Loblaw, you agree that the idea becomes and remains the sole and exclusive property of Loblaw without further liability or compensation to you, and you hereby waive any moral or other rights you may have in the material you submit in favour of Loblaw.
			p
				| If you respond to Loblaw with any information, including but not limited to feedback, data, questions, comments, suggestions, or the like, such information shall not be deemed confidential. All such submissions shall be deemed the property of Loblaw, and your submission of information shall constitute an assignment to Loblaw of all worldwide rights, titles, and interests in such information. Loblaw will not be liable for any use or disclosure of such information. Loblaw will not have any obligation to keep such information confidential and will be free to reproduce, use, disclose and distribute the information to others without limitation. Loblaw will be free to use any ideas, concept, know-how or techniques contained in such information for any purpose whatsoever, including but not limited to developing, manufacturing and marketing products which incorporate or otherwise rely upon such information.
			p
				| Loblaw welcomes your comments and suggestions on this site and products, but Loblaw does not seek to solicit any confidential or proprietary ideas, suggestions, materials or other information relating to developing, designing, redesigning, modifying, manufacturing or marketing its sites, products or any new products. By submitting information, you warrant that Loblaw may publish such information, use it as part of its operations, and incorporate its concepts in Loblaw products without liability or compensation to you.
			br
			h2 APPLICABLE LAW:
			p
				| You agree that the laws of the Province of Ontario, Canada govern any use of this website, without regard to rules relating to conflict of laws, including with regard to any dispute arising out of your use of this website or material from this website. The United Nations Convention on Contracts for the International Sale of Goods shall not apply. The courts of the Province of Ontario shall have exclusive jurisdiction over all claims.
			br
			h2 SEVERED PROVISIONS AND ENTIRE AGREEMENT:
			p
				| If any provision of this agreement is unenforceable, that provision shall be deemed severed from this agreement and shall not affect the validity and enforceability of the remaining provisions.
			p This is the entire agreement between the parties relating to the subject matter.
			br
			h2 PRIVACY:
			p
				| Without limiting the generality of these Terms, your use of the website is also subject to the terms of our Privacy Policy, which is hereby incorporated into and made part of these Terms. Please carefully review our Privacy Policy. By using the website, you signify that you have read, fully understand and agree to be legally bound by our 
				a(href='https://www.joefresh.com/privacypolicy') Privacy Policy
				| .
			br
			br
			br
			br
			br
			p August 26, 2013
