<div class="experience-end">
    <div class="pure-g">
        <div class="pure-u-4-24"></div>
        <div class="pure-u-8-24">
            <div class="item" ng-click="changeState('root.home'); submissionAction('click', 'action', 'experience-end_change-page_home'); $event.stopPropagation();">Home</div>
        </div>
        <div class="pure-u-8-24">
            <div class="item" ng-click="tryAgain(); submissionAction('click', 'action', 'experience-end_change-page_try-again'); $event.stopPropagation();">Try Again</div>
        </div>
        <div class="pure-u-4-24"></div>
    </div>
</div>
