<div class="pure-g slider-wrapper convenience-more additional-features">
    <div class="pure-u-1">
        <div class="arrow left"><img class="left" ng-src="/assets/0-UI/icon_arrow_slider_left.svg" ng-click="prevSlide();
            $event.stopPropagation();" /></div>
        <div class="content ">
            <div class="slider-container" app-content-carousel>
                <div class="slide">
                    <div class="experience compatibility ">
                        <div class="content left ">
                            <div class="title main">Compatibility</div>
                            <div class="title sub">Gear S2 pairs with various <br />smartphones running Android <br />4.4 (KitKat®) OS and higher with <br />min 1.5GB RAM.</div>
                            <div class="title note">* Availability may vary by country and carrier.</div>
                        </div>
                    </div>
                    <img class="compatibility right" ng-src="../assets/4-convenience-more/cm_02-af_image_01.png" />
                </div>
                <div class="slide">
                    <div class="experience wireless-charging ">
                        <div class="content right ">
                            <div class="title main">Wireless Charging</div>
                            <div class="title sub">Gear S2 comes with a dedicated <br />wireless charging dock.</div>
                        </div>
                    </div>
                    <img class="wireless-charging left" ng-src="../assets/4-convenience-more/cm_02-af_image_02.png" />
                </div>
                <div class="slide">
                    <div class="experience connectivity ">
                        <div class="content left ">
                            <div class="title main">3G Connectivity</div>
                            <div class="title sub">Gear S2 with 3G connectivity <br />incorporates the first-ever <br />e-SIM with voice capability to <br />perform quick functions <br />without being closely tethered <br />to a smartphone.</div>
                            <div class="title note">* Availability may vary by country and carrier.</div>
                        </div>
                    </div>
                    <img class="connectivity right float-right" ng-src="../assets/4-convenience-more/cm_02-af_image_03.png" />
                </div>
            </div>
        </div>
        <div class="arrow right"><img class="right" ng-src="/assets/0-UI/icon_arrow_slider_right.svg" ng-click="nextSlide();
            $event.stopPropagation();" /></div>
    </div>
</div>