.pure-g.island.splash
  img.pure-u-1.hover(src='../assets/images/splash/splash.png', ,='', width='1920px', height='1080px', ui-sref='root.customize-your-gear', ng-click="submissionAction('click', 'action', 'start')")
  //- .fixed.call-to-action CALL TO ACTION
  <div class="title" ui-sref="root.home" ng-click="submissionAction('click', 'action', 'start')">Touch Here 2 Begin</div>
