.email
	button.menu-home.menu-button.fixed.box-shadow(ui-sref="root.home") MENU
	.center.email-center
		.header.heading-text
			.padding SIGN UP 
			p.scenes.padding + GET 10% OFF
			p.scenes.padding AT JOEFRESH.COM
		.subheader-text.padding AND GET ALL THE NEWS THAT'S FIT TO WEAR
		.select-favorite.padding
		form#subscribeForm(action='http://cl.exct.net/subscribe.aspx?lid=921', name='subscribeForm', method='post')
			input(type='hidden', name='thx', value='localhost:3000/#/thanks')
			//- input(type='hidden', name='err', value='https://pages.email.joefresh.com/profile/oops/')
			input(type='hidden', name='err', value='http://localhost:3000/#/thanks')
			input(type='hidden', name='MID', value='6172201')
			// required
			input(type='hidden', name='SubAction', value='sub_add_update')
			.email-input.padding
				.input-prompt EMAIL
				input.email-text-input(type="email", name="Email Address", id="Email Address", accesskey="1", ng-model="email.email")
			.checkbox-container.padding
				//- input.checkbox(type="checkbox", ng-model="accept")
				.checkbox(ng-click="toggleChecked()")
					img.checkmark(ng-src="assets/images/email/check.svg", ng-style="{'opacity':opa}")
				.checkbox-text I accept the 
					.link(ui-sref="root.terms") Terms and Conditions 
					| &
					.link.privacy(ui-sref="root.privacy") Privacy Policy
			.send.padding
				button.send-button(ng-disabled="disable()", type="submit", ng-style="validateForm()", value="UPDATE", ng-click="submitAnalytics($event)") SEND

				//- <input type="email" name="Email Address" id="Email Address" tabindex="10" accesskey="1" />