/*
inspired by:
https://github.com/minamarkham/sassy-starter/
https://github.com/kachunchau/smacss-boilerplate
https://github.com/davidrapson/scss-toolkit
*/
@import 'settings', 'mixins', 'base', 'helpers', 'modules/island','modules/horizontal-list', 'modules/buttons', 'layouts/page', 'states';

.left-nav {
    &.pure-menu {
        &.custom-restricted-width {
            display: inline-block;
        }

        & > ul {
            visibility: visible;
            top: 0;
            left: 0;

            li {
                .section-description {
                    display: none;
                }

                &.pure-menu-selected {
                    .section-description {
                        display: block;
                    }
                }
            }
        }
    }
}

.slider-wrapper {
    .slider-container {
        position: relative;
        width: 100%;
        z-index: 1;

        .slick-arrow {
            position: absolute;
            top: 0;
            z-index: 2;

            &.slick-prev {
                left: 0;
            }
            &.slick-next {
                right: 0;
            }
        }
        .slick-list {
            .slick-track {
                min-height: inherit;

                .slick-slide {
                    min-height: inherit;
                    vertical-align: middle;
                    transition: all 300ms ease; // Matches slider speed

                    &:not(.slick-current) {
                        transform: scale(0.8)
                    }

                    img {
                        width: inherit;
                    }
                }
            }
            .slider-overlay {
                height: inherit;
                z-index: 9;
                margin: 0 auto;
                position: absolute;
                top: 0;
                left: 50%;

                img {
                    width: inherit;
                }
            }
        }
    }
}
